Fabric==2.3.0
Flask==1.0.2
Jinja2==2.10
MarkupSafe==1.1.0
Werkzeug==0.14.1
cairocffi==0.9.0
cffi==1.13.0
click==6.7
ecdsa==0.13
gunicorn==19.8.1
itsdangerous==1.1.0
lxml==4.2.4
paramiko==2.4.2
peewee==3.6.4
psycopg2==2.7.6.1
pycparser==2.18
pycrypto==2.6.1
python-igraph==0.7.1.post6
requests==2.20.1
selenium==3.141.0
pillow==5.2.0
