Fabric==2.3.0
Flask==1.0.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
cairocffi==0.9.0
cffi==1.11.5
click==6.7
ecdsa==0.13
gunicorn==19.8.1
itsdangerous==0.24
lxml==4.2.4
paramiko==2.4.1
peewee==3.7.0
psycopg2==2.7.5
pycparser==2.18
pycrypto==2.6.1
python-igraph==0.7.1.post6
requests==2.19.1
selenium==3.14.0
pillow==5.2.0
